html {
  background-color: rgb(212, 238, 244);
  text-align: center;
}

.flex {
  display: flex;
}

h1 {
  font-size: 3.5rem;
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
}

@media only screen and (max-width: 500px) {
  h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 390px) {
  h2 {
    font-size: 1.3rem;
  }
}

#score-box {
  justify-content: space-around;
  height: auto;
  width: 75%;
  margin: 0 auto;
}

.scoreCard {
  background-color: rgb(102, 102, 102);
  width: 40%;
  border: 1px solid white;
  border-radius: 20px;
}

.score {
  font-size: 3rem;
  line-height: 3.5rem;
}

.scoreP {
  margin: 0;
}

.playerSelect,
.computerSelect {
  padding: 1.5rem;
  height: 8rem;
}

@media only screen and (max-width: 768px) {
  #score-box {
    width: 90%;
  }

  .scoreCard {
    width: 45%;
  }
}

@media only screen and (max-width: 500px) {
  #score-box {
    width: 100%;
  }

  .scoreCard {
    width: 45%;
  }
}

@media only screen and (max-width: 320px) {
  #score-box {
    width: 100%;
  }

  .scoreCard {
    width: 50%;
  }
}

img {
  visibility: hidden;
  display: block;
  margin: 0 auto;
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;
}

@media only screen and (max-width: 390px) {
  img {
    width: 7rem;
    height: 7rem;
  }
}

img.active {
  visibility: visible;
}

.btnBox {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  height: 13.5rem;
  width: 90%;
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
  .btnBox {
    width: 100%;
  }
}

.btnBox.active {
  display: flex;
}

button {
  height: 11rem;
  width: 11rem;
  border: 2px solid black;
  border-radius: 50%;
}

@media only screen and (max-width: 500px) {
  button {
    height: 8.5rem;
    width: 8.5rem;
  }
}

@media only screen and (max-width: 390px) {
  button {
    height: 7rem;
    width: 7rem;
  }
}

button:hover {
  cursor: pointer;
  opacity: 75%;
}

button#play-rock {
  background-image: url("../images/rock.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

button#play-paper {
  background-image: url("../images/paper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

button#play-scissors {
  background-image: url("../images/scissors.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.results {
  display: none;
}

.results.active {
  display: block;
}

#winner {
  font-size: 2rem;
}

button#end-game {
  color: black;
  background-color: rgb(102, 102, 102);
  height: 8rem;
  width: 8rem;
  font-size: 1.2rem;
}
